* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vh + 1vw);
  --light-grey: #d3d3d3;
  --grey: #808080;
  --dark: #1B1923;
  --blue: #37ADE6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  overflow-x: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.main-section {
  background-image: url('../images/main-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.lang {
  border: 1px solid #fff;
  border-radius: 5px;
}

.lang__item {
  display: flex;
  padding: 9px 8px;
}

.lang__text {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 500;
  margin: 0 5px;
}

.lang:hover .lang__sub-items {
  top: 100%;
  z-index: 0;
  opacity: 1;
  max-height: 250px;
}

.lang__svg {
  transition: all 0.4s;
}

.lang:hover .lang__svg {
  transform: rotate(180deg);
}

.lang__sub-items {
  max-height: 0;
  opacity: 0;
  transition: all 0.7s;
}

.lang__sub-items .lang__item:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.lang__sub-items .lang__svg {
  display: none;
}

.search {
  cursor: pointer;
  transition: all 0.4s;
}

.search:hover {
  transform: scale(1.2);
}

.title {
  font-size: 60px;
  font-weight: 800;
  line-height: normal;
}

.btn {
  display: flex;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #fff;
  border-radius: 82px;
  background: radial-gradient(229.74% 191.78% at 25.37% -44.35%, #2fb1d9 0%, #38b0d6 26.35%, #2887bc 59.34%, #6173d5 100%);
  box-shadow: 0px 4px 49px 0px rgba(0, 178, 254, 0.5);
  transition: all .6s;
}

.btn__text {
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.btn:hover {
  background: radial-gradient(229.74% 191.78% at 25.37% -44.35%, #6173d5 0%, #a5eefd 18.32%, #6173d5 59.34%, #6173d5 100%);
}

/*--------------------burger------------------*/

.burger{
  display: none;
  position: relative;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 2px solid #fff;
  background-color: var(--blue);
}

.burger.burger--active.burger > span:first-child{
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(135deg);
}

.burger.burger--active.burger > span:nth-child(2){
  opacity: 0;
}

.burger.burger--active.burger > span:last-child{
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-135deg);
}

.burger > span{
  position: absolute;
  width: 28px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  transition: all .4s;
}

.burger > span:first-child{
  top: 21%;
}

.burger > span:nth-child(2){
  top: 46%;
}

.burger > span:last-child{
  top: 71%;
}

/*--------------------header------------------*/

.header {
  position: relative;
  z-index: 1;
}

.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.header__logo {
  margin-right: auto;
}

.header__list {
  display: flex;
  margin-right: 179px;
}

.header__list-item {
  position: relative;
  padding-bottom: 3px;
  margin: 0 15px;
}

.header__list-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fff;
  content: '';
  transition: all 0.4s;
}

.header__list-item:hover.header__list-item::after {
  width: 100%;
}

.header__lang {
  position: absolute;
  top: 45%;
  right: 7.5%;
}

/*--------------------main-section------------------*/

.main-section__inner {
  position: relative;
  z-index: 2;
  margin: 115px 0 20px;
  max-width: 680px;
}

.main-section__text {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 32px;
}

.main-section__hero {
  position: absolute;
  bottom: 0;
  right: 4%;
  height: 100%;
}

.main-section__slider{
  margin-left: 18.5%;
  background: yellow;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main-section__slider-items{
  position: absolute;
  right: 0;
  bottom: 32px;
  max-width: 900px;
}

.main-section__slider-item{
  width: 360px;
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10px 0 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-section__slider-item-text{
  text-align: center;
  max-width: 130px;
  font-size: 26px;
  font-weight: 800;
}

.main-section__slider-item-img{
  position: absolute;
  bottom: 12.5%;
  right: 6%;
  width: 140px;
}

.main-section__slider-btns{
  display: flex;
  margin-top: 210px;
}

.main-section__slider-btn{
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--grey);
  border-radius: 50%;
  transition: all .4s linear;
}

.main-section__slider-btn > img{
  width: 16px;
  height: 16px;
}

.main-section__slider-btn:hover{
  background-color: var(--grey);
}

.main-section__slider-btn--prev{
  transform: rotate(90deg);
}

.main-section__slider-btn--next{
  transform: rotate(-90deg);
}

.swiper-pagination{
  margin: 0 10px;
  display: flex;
  align-items: center;
  width: auto !important;
  position: static;
}

.swiper-pagination-bullet{
  background-color: var(--grey);
}

.swiper-pagination-bullet-active{
  background-color: var(--light-grey);
}

@media(max-width: 1280px){
  .main-section__hero{
    width: calc(var(--index) * 30);
    height: calc(var(--index) * 30);
    bottom: 20%;
    right: 0;
  }
}

@media(max-width: 1180px){

  .header__list-item{
    font-size: 15px;
    margin: 0 7.5px;
  }

  .main-section__slider-items{
    max-width: 720px;
  }

  .main-section__slider-item{
    width: 310px;
    height: 200px;
  }
}

@media(max-width: 960px){

  .header__inner{
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .header__logo{
    margin-right: 0;
  }

  .burger{
    display: block;
  }

  .header__lang{
    display: none;
  }

  .header__search{
    display: none;
  }

  .header__list{
    display: none;
  }

  .title{
    font-size: 45px;
  }

  .main-section__inner{
    max-width: 500px
  }

  .main-section__text{
    margin-top: 15px;
  }

  
  .main-section__slider-btns{
    margin-top: 60px;
  }

  .main-section__slider-items{
    position: static;
    max-width: 100%;
  }

  .main-section__slider-item{
    width: 310px;
    height: 200px;
  }
}

@media(max-width: 768px){
  .main-section__inner{
    text-align: center;
    max-width: 100%;
  }

  .main-section__hero{
    opacity: .7;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .main-section__inner-btn{
    margin: 0 auto;
  }

  .main-section__slider-btns{
    justify-content: center;
  }
}


@media(max-width: 360px){
  .main-section__hero{
    display: none;
  }

  .header__logo>img{
    width: 180px;
  }
}










