* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vh + 1vw);
  --light-grey: #d3d3d3;
  --grey: #808080;
  --dark: #1B1923;
  --blue: #37ADE6;
  --dark-blue: #25253D;
  --yellow: #FFBB55;
  --green: #00B67A;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  overflow-x: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1294px;
  padding: 0 15px;
}

.section-container{
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.section-title{
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}

.main-section {
  background-image: url('../images/main-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.lang {
  border: 1px solid #fff;
  border-radius: 5px;
}

.lang__item {
  display: flex;
  padding: 9px 8px;
}

.lang__text {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 500;
  margin: 0 5px;
}

.lang:hover .lang__sub-items {
  top: 100%;
  z-index: 0;
  opacity: 1;
  max-height: 250px;
}

.lang__svg {
  transition: all 0.4s;
}

.lang:hover .lang__svg {
  transform: rotate(180deg);
}

.lang__sub-items {
  max-height: 0;
  opacity: 0;
  transition: all 0.7s;
}

.lang__sub-items .lang__item:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.lang__sub-items .lang__svg {
  display: none;
}

.search {
  cursor: pointer;
  transition: all 0.4s;
}

.search:hover {
  transform: scale(1.2);
}

.title {
  font-size: 60px;
  font-weight: 800;
  line-height: normal;
}

.btn {
  height: 100%;
  padding: 4px;
  box-shadow: 0px 4px 49px 0px rgba(0, 178, 254, 0.50);
  border-radius: 82px;
  background: rgb(150,208,222);
  background: linear-gradient(90deg, rgba(150,208,222,1) 0%, rgba(85,119,208,1) 100%);
}

.btn--sm{
  padding: 3px;
  width: 150px;
  height: 50px;
}

.btn__inner{
  width: 100%;
  height: 100%;
  
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 20px 30px;
  border-radius: 82px;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgba(47,177,217,1) 0%, rgba(56,176,214,1) 33%, rgba(40,135,188,1) 66%, rgba(85,119,208,1) 100%);
}

.btn__inner--sm{
  padding: 0;
}

.btn__text {
  white-space: nowrap;
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.btn__text--sm{
  font-size: 16px;
}

.btn__img{
  margin-left: 20px;
}

.btn:hover .btn__inner {
  background: radial-gradient(229.74% 191.78% at 25.37% -44.35%, #6173D5 0%, #A5EEFD 18.32%, #6173D5 59.34%, #6173D5 100%);
}

.btn-secondary{
  width: 150px;
  height: 50px;
  padding: 3px;
  border-radius: 82px;
  background: linear-gradient(90deg, rgba(86,233,90,1) 0%, rgba(89,251,131,1) 50%, rgba(86,233,90,1) 100%);
}

.btn-secondary:hover .btn-secondary__inner{
  background: transparent;
}

.btn-secondary__inner{
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 82px;
  color: #fff;
  text-transform: uppercase;
  background: #333351;

  transition: all .4s;
}

.btn-secondary__text {
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

/*--------------------paying------------------*/
.paying{
  display: flex;
}

.paying__title{
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500
}

.paying__item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.paying__item + .paying__item{
  margin-left: 8px;
}


/*--------------------stars------------------*/

.stars{
  display: flex;
}

.stars__item{
  position: relative;
  width: 26px;
  height: 26px;
  background-color: var(--light-grey);
}

.brands__stars-block_inner--long .stars__item{
  width: 20px;
  height: 20px;
}

.stars__item svg{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.stars__item + .stars__item{
  margin-left: 8px;
}

.stars__filled{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--green);
}

/*--------------------discount------------------*/

.discount{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 157px;
  height: 28px;

  background-image: url('../images/discount.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.discount__text{
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

/*--------------------burger------------------*/

.burger{
  display: none;
  position: relative;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 2px solid #fff;
  background-color: var(--blue);
}

.burger.burger--active.burger > span:first-child{
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(135deg);
}

.burger.burger--active.burger > span:nth-child(2){
  opacity: 0;
}

.burger.burger--active.burger > span:last-child{
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-135deg);
}

.burger > span{
  position: absolute;
  width: 28px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  transition: all .4s;
}

.burger > span:first-child{
  top: 21%;
}

.burger > span:nth-child(2){
  top: 46%;
}

.burger > span:last-child{
  top: 71%;
}

/*--------------------header------------------*/

.header {
  position: relative;
  z-index: 1;
}

.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.header__logo {
  margin-right: auto;
}

.header__list {
  display: flex;
  margin-right: 179px;
}

.header__list-item {
  position: relative;
  padding-bottom: 3px;
  margin: 0 15px;
}

.header__list-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fff;
  content: '';
  transition: all 0.4s;
}

.header__list-item:hover.header__list-item::after {
  width: 100%;
}

.header__lang {
  position: absolute;
  top: 45%;
  right: 7.5%;
}

/*--------------------main-section------------------*/

.main-section__inner {
  position: relative;
  z-index: 2;
  margin: 115px 0 20px;
  max-width: 680px;
}

.main-section__text {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 32px;
}

.main-section__hero {
  position: absolute;
  bottom: 0;
  right: 4%;
  height: 100%;
}

.main-section__slider{
  margin-left: 18.5%;
  background: yellow;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main-section__slider-items{
  position: absolute;
  right: 0;
  bottom: 32px;
  max-width: 1200px;
}

.main-section__slider-item{
  width: 360px;
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10px 0 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-section__slider-item-text{
  text-align: center;
  max-width: 130px;
  font-size: 26px;
  font-weight: 800;
}

.main-section__slider-item-img{
  position: absolute;
  bottom: 12.5%;
  right: 6%;
  width: 140px;
}

.main-section__slider-btns{
  display: flex;
  margin-top: 210px;
}

.main-section__slider-btn{
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--grey);
  border-radius: 50%;
  transition: all .4s linear;
}

.main-section__slider-btn > img{
  width: 16px;
  height: 16px;
}

.main-section__slider-btn:hover{
  background-color: var(--grey);
}

.main-section__slider-btn--prev{
  transform: rotate(90deg);
}

.main-section__slider-btn--next{
  transform: rotate(-90deg);
}

.swiper-pagination{
  margin: 0 10px;
  display: flex;
  align-items: center;
  width: auto !important;
  position: static;
}

.swiper-pagination-bullet{
  background-color: var(--grey);
}

.swiper-pagination-bullet-active{
  background-color: var(--light-grey);
}

@media(max-width: 1280px){
  .main-section__hero{
    width: calc(var(--index) * 30);
    height: calc(var(--index) * 30);
    bottom: 20%;
    right: 0;
  }
}

@media(max-width: 1180px){

  .header__list-item{
    font-size: 15px;
    margin: 0 7.5px;
  }

  .main-section__slider-items{
    max-width: 720px;
  }

  .main-section__slider-item{
    width: 310px;
    height: 200px;
  }
}

@media(max-width: 960px){

  .header__inner{
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .header__logo{
    margin-right: 0;
  }

  .burger{
    display: block;
  }

  .header__lang{
    display: none;
  }

  .header__search{
    display: none;
  }

  .header__list{
    display: none;
  }

  .title{
    font-size: 45px;
  }

  .main-section__inner{
    max-width: 500px
  }

  .main-section__text{
    margin-top: 15px;
  }

  
  .main-section__slider-btns{
    margin-top: 60px;
  }

  .main-section__slider-items{
    position: static;
    max-width: 100%;
  }

  .main-section__slider-item{
    width: 310px;
    height: 200px;
  }
}

@media(max-width: 768px){
  .main-section__inner{
    text-align: center;
    max-width: 100%;
  }

  .main-section__hero{
    opacity: .7;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .main-section__inner-btn{
    margin: 0 auto;
  }

  .main-section__slider-btns{
    justify-content: center;
  }
}


@media(max-width: 360px){
  .main-section__hero{
    display: none;
  }

  .header__logo>img{
    width: 180px;
  }
}





/*--------------------brands------------------*/

.brands{
  min-height: 905px;
  padding: 88px 0 72px 0;

  background-image: url("../images/brands-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.brands--m-long{
  margin: 0 10px;
}

.brands__inner{
  border-radius: 30px;
  padding: 40px;
  background-color: var(--dark-blue);
}

.brands__items{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.brands__item{
  position: relative;
  margin: 15px;
  padding: 15px 20px;
  width: 100%;
  max-width: 364px;
  
  border-radius: 20px;
  background-color: #333351;
}

.brands__item--full{
  display: flex;
  align-items: center;
  margin: 30px 0;
  padding: 0px 15px;
  max-width: 100%;
}

.brands__item-head{
  position: relative;
  display: flex;
  align-items: center;
}

.brands__item-head-num{
  font-size: 22px;
  font-weight: 600;
  color: var(--yellow)
}

.brands__item-head-star{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.brands__item-head-star::after,
.brands__item-head-star::before{
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  height: 1px;

  background: var(--yellow);
}

.brands__item-head-star::after{
  width: 141px;
  left: calc(100% + 3px);
}

.brands__item-head-star::before{
  width: 120px;
  right: calc(100% + 3px);
}

.brands__item-rate{
  margin: 22px 0 17px;
  padding-bottom: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(221, 216, 255, .1);
}

.brands__item-rate--full{
  margin: 0;
  margin-right: 17px;
  padding-bottom: 0;
  padding: 10px 0;
  padding-right: 20px;
  border: transparent;
  border-right: 1px solid rgba(221, 216, 255, .1);
}

.brands__item-rate-logo--sm{
  width: 183px;
  height: 38px;
}

.brands__item-rate-elips{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 57px;
  height: 57px;
}

.brands__item-rate-elips svg{
  position: absolute;
  width: 57px;
  height: 57px;
}

.brands__paying{
  margin: 0 23px 0 17px;
}


.reviews-circle__svg{
  position: absolute;
  fill: none;
  width: 100%;
  height: 100%;
}

.reviews-circle__circle{
  stroke: #40B5E8;
  fill: none;
  stroke-width: 4;
  stroke-linecap: round;
}

.reviews-circle__circle-bg{
  fill: none;
  stroke: #CFCFCF;
  stroke-width: 4;
}


.brands__item-rate-elips-text{
  font-size: 23px;
  font-weight: 600;
}

.brands__stars-block{
  margin-top: 18px;
  display: flex;
  align-items: center;
}

.brands__stars-block--long{
  display: block;
  margin: 0;
}

.brands__stars-block_inner--long{
  display: flex;
  margin-bottom: 9px;
}

.brands__stars-block-text{
  margin-right: 15px;
  font-size: 18px;
  font-weight: 600;
}

.brands__stars-block_subtext{
  color: #ABABAB;
  font-size: 18px;
  font-weight: 600;
}

.brands__stars-block-count{
  margin-left: 11px;
  font-size: 18px;
  font-weight: 600;
}

.brands__promo{
  display: flex;
  align-items: center;
  position: relative;
  margin: 26px 0 23px;

  border-radius: 10px;
  border: 1px dashed #B4CDD2;
  padding: 27px 20px 13px;
}

.brands__promo--long{
  padding: 6px 13px;

  display: block;
}


.brands__promo_inner{
  display: flex;
  justify-content: center;
}



.brands__promo-text{
  margin-right: 8px;
  color: #ABABAB;
  font-size: 18px;
  font-weight: 500;
}

.brands__promo-code{
  margin-left: 26px;
  font-size: 20px;
  font-weight: 600;
}

.brands__promo--long .brands__promo-code{
  margin: 0 auto;
}

.brands__discount{
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.brands__discount--long{
  width: 200px;
  height: 36px;
  position: absolute;
  top: -5%;
  right: 0;
  left: 0;
  margin: 0 auto;
}


.brands__btn-inner{
  padding: 15px 20px;
}

.brands__btns{
  display: flex;
  justify-content: space-between;
}

@media(max-width: 1360px){
  .brands__item--full{
    padding: 10px 0;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*--------------------info------------------*/
.info{
  padding: 120px 0;
  background-color: black;
}

.info__title{
  text-align: center;
  margin-bottom: 60px;
  font-size: 50px;
  font-weight: 900;
}

.info__title--mb-lg{
  margin-bottom: 106px;
}

.info__sales-items{
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.info__sales-item{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px 13px 24px;
  margin: 0px 15px;
  width: 270px;
  height: 474px;
  background: red;
  background-position: center;
  background-image: url("../../assets/images/top-sales-hero.png");
  background-size: cover;
  border-radius: 23px;
  border: 2px solid #fff;
}

.info__sales-item:nth-child(1){
    background-image: url("../../assets/images/top-sales-hero.png");
}
.info__sales-item:nth-child(2){
    background-image: url("../../assets/images/top-sales-hero-2.png");
}
.info__sales-item:nth-child(3){
    background-image: url("../../assets/images/top-sales-hero-3.png");
}
.info__sales-item:nth-child(4){
    background-image: url("../../assets/images/top-sales-hero-4.png");
}

.info__sales-item-wrap-img{
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  margin: 0 auto;
}

.info__sales-item-text{
  position: relative;
  z-index: 1;
  margin-top: auto;
  font-size: 24px;
  font-weight: 600;
  
}

.info__sales-item-footer{
  margin-top: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.info__sales-item-price{
  font-size: 26px;
  font-weight: 600;
}

.info__sales-item__btn{
  width: 127px;
  height: 47px;
}

.info__sales-item__btn-text{
  font-size: 13px;
}

.info__description-items{
  margin: 0 auto;
  padding: 32px 30px;
  max-width: 1170px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  border: 2px solid #9C8064;

}

.info__description-item{
  width: 393px;
}

.info__description-item p{
  font-size: 20px;
  font-weight: 400;
  line-height: 161.523%; /* 32.305px */
}

.info__description-item p:nth-child(2){
  margin-top: 30px;
}

.info__description-item p span{
  font-weight: 700;
  color: white
}

.info__description-img{
  width: 314px;
  height: 627px;
  position: absolute;

  left: 0;
  right: 0;
  margin: 0 auto;
}

.info__description-btn{
  display: block;
  margin: 83px auto 120px;
}



.advantages__items{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.advantages__item{
  position: relative;
  margin: 0 15px;
  padding: 25px 20px 9px;
  width: 270px;
  min-height: 279px;
  border-radius: 10px;
  background: #201E29;
  overflow: hidden;
}


.advantages__item__img{
  margin-bottom: 20px;
  width: 93px;
  height: 93px;
}

.advantages__item__title{
  padding-bottom: 15px;
  margin-bottom: 15px;
  color: white;
  font-size: 20px;
  font-weight: 900;
  border-bottom: 1px solid #3C3A42;
}

.advantages__item:nth-child(1) .advantages__item__title{
  color: #E64272;
}

.advantages__item:nth-child(1) .advantages__item__info{
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(180deg, #E74269 0%, #DD4CEE 100%);
}


.advantages__item:nth-child(2) .advantages__item__title{
  color: #A33DF3;
}


.advantages__item:nth-child(2) .advantages__item__info{
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(180deg, #A33DF3 46.95%, #6EB5D3 93.73%, #77F4F3 100%);
}


.advantages__item:nth-child(3) .advantages__item__title{
  color: #FA5E10;
}


.advantages__item:nth-child(3) .advantages__item__info{
  border-radius: 0px 10px 10px 0px;
background: linear-gradient(180deg, #FA5D10 0%, #FC9D05 95.31%);
}


.advantages__item:nth-child(4) .advantages__item__title{
  color: #49D908;
}

.advantages__item:nth-child(4) .advantages__item__info{
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(180deg, #4BDC06 0%, #1C823F 100%);
}

.advantages__item__text{
  max-width: 191px;
  font-size: 16px;
  font-weight: 300;
  line-height: 161.523%; /* 25.844px */
}

.advantages__item__info{
  padding: 15px 8px;
  position: absolute;
  writing-mode: vertical-rl;
  top: 0;
  right: 0;
  height: 100%;
  background: red;

  font-size: 18px;;
  font-weight: 900;
}

/*--------------------blog------------------*/

.blog{
  padding: 80px 0;
  height: 800px;
  background-image: url('../../assets/images/blog-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog__title{
  margin-bottom: 60px;
}

.blog__items{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.blog__item{
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  position: relative;
  width: 370px;
  height: 394px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.blog__item:nth-child(1){
  background-image: url("../../assets/images/blog-img.jpg");
}

.blog__item:nth-child(2){
  background-image: url("../../assets/images/blog-img-2.jpg");
}

.blog__item:nth-child(3){
  background-image: url("../../assets/images/blog-img-3.jpg");
}

.blog__item-img-wrap{
  position: absolute;
  width: 409px;
  bottom: -30px;
  left: -20px;
  margin: 0 auto;
}

.blog__item__title{
  position: relative;
  z-index: 1;
  margin-top: auto;
  margin-bottom: 15px;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
}

.blog__item__text{
  width: 298px;
  position: relative;
  z-index: 1;
  color: #B1B1B1;
  font-size: 16px;
  font-weight: 400;
  line-height: 161.523%; /* 25.844px */
}


.blog__item__btn{ 
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;

  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px 0px;
  border: 1px solid #000;
  background: radial-gradient(229.74% 191.78% at 25.37% -44.35%, #2FB1D9 0%, #38B0D6 26.35%, #2887BC 59.34%, #6173D5 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}







